#tracking-protection-icon-container {
  display: none;
}

.bookmark-item[container] {
  list-style-image: url("chrome://global/skin/dirListing/folder.png") !important;
}

#toolbar-menubar {
  display: none !important;
}

#menubar-items {
  visibility: hidden !important;
}
