@import "./mocha.css";
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Noto Sans";
  /*font-weight: bold;*/
  font-size: 12px;
  padding: 0;
}

window#waybar {
  background: transparent;
  border-bottom-color: @mantle;
}

tooltip {
  background-color: @crust;
  border-color: @peach;
}

#custom-clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  background-color: @base;
  color: @text;
  border: 2px solid @text;
  margin: 8px 6px 8px 0px;
  padding: 2px 8px;
  border-radius: 8px;
}

#workspaces {
  margin: 6px 0px 6px 6px;
  border-color: #625343;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 4px;
  color: #917a53;
}

#workspaces button.focused {
  color: #ddc7a1;
}

#workspaces button.urgent {
  background-color: #e78a4e;
  color: #1d2021;
}

#cpu {
  border-color: @maroon;
}

#memory {
  border-color: @peach;
}

#battery {
  border-color: @green;
}

#network {
  border-color: @teal;
}

#pulseaudio {
  border-color: @blue;
}

#custom-clock {
  border-color: @lavender;
}

#tray {
  border-color: @blue;
  color: @subtext0;
}

#cpu.critical,
#memory.critical {
  background-color: @base;
  border-color: @red;
  color: @subtext0;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #c9af82;
  border-color: #917a53;
  color: #ae6330;
}
