@import "./mocha.css";
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Noto Sans";
  /*font-weight: bold;*/
  font-size: 12px;
  padding: 0;
}

window#waybar {
  background: @crust;
  border-bottom: 2px solid @mantle;
}

tooltip {
  background-color: @crust;
  border: 2px solid @peach;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  margin: 6px 6px 6px 0px;
  padding: 2px 8px;
  border-radius: 12px;
}

#workspaces {
  background-color: #322d28;
  margin: 6px 0px 6px 6px;
  border: 2px solid #625343;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 4px;
  color: #917a53;
}

#workspaces button.focused {
  color: #ddc7a1;
}

#workspaces button.urgent {
  background-color: #e78a4e;
  color: #1d2021;
}

#clock {
  background-color: @base;
  border: 2px solid @blue;
  color: @subtext0;
}

#battery {
  background-color: @base;
  border: 2px solid @green;
  color: @subtext0;
}

#tray,
#cpu,
#memory,
#network,
#pulseaudio {
  background-color: @base;
  border: 2px solid @blue;
  color: @subtext0;
}

#cpu.critical,
#memory.critical {
  background-color: @base;
  border: 2px solid @red;
  color: @subtext0;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #c9af82;
  border: 2px solid #917a53;
  color: #ae6330;
}
