#tracking-protection-icon-container {
  display: none;
}

.bookmark-item[container] {
  list-style-image: url("chrome://global/skin/dirListing/folder.png") !important;
}

#toolbar-menubar {
  display: none !important;
}

#menubar-items {
  visibility: hidden !important;
}

/*.browserSidebarContainer {
  border: 0px solid var(--surface0) !important;
  border-radius: 4px !important;
  background-color: var(--mantle) !important;
  overflow: hidden !important;
}

.browserContainer {
  border: 0px !important;
  margin-top: 8px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  margin-bottom: 8px !important;
  background-color: var(--mantle) !important;
  border-radius: 2px !important;
}

.browserStack {
  border-radius: 2px !important;
  background-color: var(--base) !important;
}*/
