#tracking-protection-icon-container {
  display: none;
}

.bookmark-item[container] {
  list-style-image: url("chrome://global/skin/dirListing/folder.png") !important;
}

#toolbar-menubar {
  display: none !important;
}

#menubar-items {
  visibility: hidden !important;
}

/*.browserContainer {
  border-radius: 8px !important;
  margin: 6px !important;
  background-color: transparent !important;
}

browser {
  border-radius: 8px !important;
}*/
