/* references and credit:
 * https://searchfox.org/firefox-release/source/browser/themes/shared/browser-colors.css
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/system-color
 * https://www.reddit.com/r/FirefoxCSS/comments/1dqws4b/firefox_128_will_allow_the_main_browser_content/
 * the music of stevie wonder
*/
@media {
  :root:not([lwtheme]) {
    /* browser frame background color */
    #nav-bar,
    #nav-bar:-moz-window-inactive,
    #PersonalToolbar {
      background-color: color-mix(
        in srgb,
        var(--base10) 90%,
        transparent
      ) !important;
    }

    #browser {
      background-color: color-mix(
        in srgb,
        var(--base10) 90%,
        transparent
      ) !important;
    }

    #sidebar-main {
      margin: 4px;
      border: 1px solid var(--chrome-content-separator-color);
      border-radius: 8px;
      background-color: var(--base10);
    }

    .titlebar-buttonbox-container {
      z-index: 100 !important;
      display: flex !important;
    }

    #TabsToolbar {
      visibility: collapse !important;
    }

    --toolbox-bgcolor: transparent !important;
    --toolbox-bgcolor-inactive: transparent !important;
    background-color: var(--base00) !important;

    /* page loading color */
    --tabpanel-background-color: var(--base00) !important;

    /* website content box containers */
    #tabbrowser-tabbox {
    }

    /* browser container */
    .browserContainer {
    }

    /* website content box */
    #tabbrowser-tabpanels {
      margin: 4px;
    }

    --color-accent-primary: var(--accent) !important;
    --focus-outline-color: var(--accent) !important;

    /* sidebar splitter */
    --sidebar-background-color: var(--accent) !important;
    --sidebar-border-color: var(--accent) !important;

    .sidebar-splitter {
      height: 50%;
      top: 25%;
      width: 4px;
      border-radius: 8px;
    }

    /* The splitter is outside #sidebar-main, so it stays separate */
    .sidebar-splitter:hover {
      background-color: var(--accent) !important;
    }

    /* newtab colors */
    --newtab-background-color: var(--base00) !important;

    /* bookmark_text */
    --toolbar-color: var(--base05) !important;

    /* button_background_active */
    --toolbarbutton-active-background: var(--base02) !important;

    /* button_background_hover */
    --toolbarbutton-hover-background: var(--base02) !important;

    /* icons */
    --toolbarbutton-icon-fill: var(--base05) !important;

    /* icons_attention */
    --toolbarbutton-icon-fill-attention: var(--base05) !important;

    /* popup */
    --arrowpanel-background: var(--base01) !important;

    /* popup_border */
    --arrowpanel-border-color: var(--base02) !important;

    /* popup_highlight */
    --urlbarView-highlight-background: var(--base02) !important;

    /* popup_highlight_text */
    --urlbarView-highlight-color: var(--base05) !important;

    /* popup_text */
    --arrowpanel-color: var(--base05) !important;

    /* tab_background_text */
    --toolbox-non-lwt-textcolor: var(--base05) !important;

    /* tab_line */
    .tab-background[selected]:not([multiselected]) {
      outline: 1px solid var(--base02);
      outline-offset: -1px;
    }

    .tab-background[multiselected] {
      --focus-outline-color: var(--base04);
    }

    /* tab_loading */
    #tabbrowser-tabs {
      --tab-loading-fill: var(--accent) !important;
    }

    /* tab_selected */
    --tab-selected-bgcolor: var(--base01) !important;

    /* tab_text */
    --tab-selected-textcolor: var(--base05) !important;

    /* toolbar */
    --toolbar-bgcolor: var(--base01) !important;

    /* toolbar_bottom_separator */
    --chrome-content-separator-color: var(--base01) !important;

    /* toolbar_field */
    --input-bgcolor: color-mix(
      in srgb,
      var(--base00) 90%,
      transparent
    ) !important;
    --toolbar-field-background-color: var(--input-bgcolor) !important;

    /* toolbar_field_border */
    --input-border-color: var(--base02) !important;
    --toolbar-field-border-color: var(--input-border-color) !important;

    /* toolbar_field_border_focus */
    --toolbar-field-focus-border-color: var(--base02) !important;

    /* toolbar_field_focus */
    --toolbar-field-focus-background-color: var(--base02) !important;

    /* toolbar_field_highlight */
    #urlbar-input,
    .searchbar-textbox {
      &:focus::selection {
        background-color: var(--base10);
      }
    }

    /* toolbar_field_highlight_text */
    #urlbar-input,
    .searchbar-textbox {
      &:focus::selection {
        color: var(--base05);
      }
    }

    /* toolbar_field_text */
    --input-color: var(--base05) !important;
    --toolbar-field-color: var(--input-color) !important;

    /* toolbar_field_text_focus */
    --toolbar-field-focus-color: var(--base05) !important;

    /* toolbar_top_separator */
    --tabs-navbar-separator-style: solid !important;
    --tabs-navbar-separator-color: var(--base02) !important;

    /* toolbar_vertical_separator */
    --toolbarseparator-color: var(--base02) !important;
  }
}
