/* references and credit:
 * https://searchfox.org/firefox-release/source/browser/themes/shared/browser-colors.css
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/system-color
 * https://www.reddit.com/r/FirefoxCSS/comments/1dqws4b/firefox_128_will_allow_the_main_browser_content/
 * https://gist.github.com/soulhotel/23c20583751a7f457eb5b5579e828965
 * the music of stevie wonder
*/
@media {
  :root:not([lwtheme]) {
    html:body {
      border-radius: 8px !important;
    }

    /* browser frame background color */
    #nav-bar,
    #nav-bar:-moz-window-inactive,
    #PersonalToolbar {
      background-color: color-mix(
        in srgb,
        var(--base10) 90%,
        transparent
      ) !important;
      opacity: 1 !important;
    }

    #browser {
      background-color: color-mix(
        in srgb,
        var(--base10) 90%,
        transparent
      ) !important;
    }

    #sidebar-main {
      margin: 4px;
      border: 1px solid var(--chrome-content-separator-color);
      border-radius: 8px;
      background-color: var(--base10);
    }

    .titlebar-buttonbox-container {
      z-index: 100 !important;
      display: flex !important;
    }

    #TabsToolbar {
      visibility: collapse !important;
    }

    /* hide the spacer made by the collapsed titlebar */
    .chromeclass-toolbar-additional titlebar-spacer,
    #vertical-spacer {
      visibility: collapse;
    }

    /* the menu button has some extreme right padding */
    #PanelUI-menu-button {
      padding-right: 2px !important;
    }

    /* prevent the urlbar from losing opacity on unfocus */
    .urlbar {
      opacity: 1 !important;
    }

    --toolbox-bgcolor: transparent !important;
    --toolbox-bgcolor-inactive: transparent !important;
    background-color: var(--base00) !important;

    /* page loading color */
    --tabpanel-background-color: var(--base00) !important;

    /* website content box containers */
    #tabbrowser-tabbox {
    }

    /* browser container */
    .browserContainer {
      margin: 4px;
      border-radius: 8px !important;
    }

    /* website content box */
    .tabbrowser-tabpanels {
      margin: 4px;
    }

    /* vertical tabs */
    .tabbrowser-tab {
      padding-block: 0 !important;
    }
    .tabbrowser-tab .tab-stack .tab-background {
      background-color: var(--base00);
      border: 1px solid var(--chrome-content-separator-color);
    }
    .tabbrowser-tab[selected] .tab-stack .tab-background {
      border: 1px solid var(--accent);
    }
    .tab-background {
      margin: 4px !important;
      min-width: 44px !important; /* 100% - 8px */
      height: 22px !important;
      border-radius: 6px !important;
    }
    .tab-content {
    }
    .tab-icon-image {
    }

    /* sidebar bottom buttons */
    #main-button {
    }

    --color-accent-primary: var(--accent) !important;
    --focus-outline-color: var(--accent) !important;

    /* sidebar splitter */
    --sidebar-background-color: var(--accent) !important;
    --sidebar-border-color: var(--accent) !important;

    .sidebar-splitter {
      height: 50%;
      top: 25%;
      width: 3px !important;
      border-radius: 8px;
      margin-right: 2px !important;
    }

    /* The splitter is outside #sidebar-main, so it stays separate */
    .sidebar-splitter:hover {
      background-color: var(--accent) !important;
    }

    /* newtab colors */
    --newtab-background-color: var(--base00) !important;

    /* bookmark_text */
    --toolbar-color: var(--base05) !important;

    /* button_background_active */
    --toolbarbutton-active-background: var(--base02) !important;

    /* button_background_hover */
    --toolbarbutton-hover-background: var(--base02) !important;

    /* icons */
    --toolbarbutton-icon-fill: var(--base05) !important;

    /* icons_attention */
    --toolbarbutton-icon-fill-attention: var(--base05) !important;

    /* popup */
    --arrowpanel-background: var(--base01) !important;

    /* popup_border */
    --arrowpanel-border-color: var(--base02) !important;

    /* popup_highlight */
    --urlbarView-highlight-background: var(--base02) !important;

    /* popup_highlight_text */
    --urlbarView-highlight-color: var(--base05) !important;

    /* popup_text */
    --arrowpanel-color: var(--base05) !important;

    /* tab_background_text */
    --toolbox-non-lwt-textcolor: var(--base05) !important;

    /* tab_line */
    .tab-background[selected]:not([multiselected]) {
      outline: 1px solid var(--base02);
      outline-offset: -1px;
    }

    .tab-background[multiselected] {
      --focus-outline-color: var(--base04);
    }

    /* tab_loading */
    #tabbrowser-tabs {
      --tab-loading-fill: var(--accent) !important;
    }

    /* tab_selected */
    --tab-selected-bgcolor: var(--base01) !important;

    /* tab_text */
    --tab-selected-textcolor: var(--base05) !important;

    /* toolbar */
    --toolbar-bgcolor: var(--base01) !important;

    /* toolbar_bottom_separator */
    --chrome-content-separator-color: var(--base01) !important;

    /* toolbar_field */
    --input-bgcolor: color-mix(
      in srgb,
      var(--base00) 90%,
      transparent
    ) !important;
    --toolbar-field-background-color: var(--input-bgcolor) !important;

    /* toolbar_field_border */
    --input-border-color: var(--base02) !important;
    --toolbar-field-border-color: var(--input-border-color) !important;

    /* toolbar_field_border_focus */
    --toolbar-field-focus-border-color: var(--base02) !important;

    /* toolbar_field_focus */
    --toolbar-field-focus-background-color: var(--base02) !important;

    /* toolbar_field_highlight */
    #urlbar-input,
    .searchbar-textbox {
      &:focus::selection {
        background-color: var(--base10);
      }
    }

    /* toolbar_field_highlight_text */
    #urlbar-input,
    .searchbar-textbox {
      &:focus::selection {
        color: var(--base05);
      }
    }

    /* toolbar_field_text */
    --input-color: var(--base05) !important;
    --toolbar-field-color: var(--input-color) !important;

    /* toolbar_field_text_focus */
    --toolbar-field-focus-color: var(--base05) !important;

    /* toolbar_top_separator */
    --tabs-navbar-separator-style: solid !important;
    --tabs-navbar-separator-color: var(--base02) !important;

    /* toolbar_vertical_separator */
    --toolbarseparator-color: var(--base02) !important;

    /* context menu customization, ripped from soulhotel's gist (credit above) */
    menupopup,
    panel {
      color-scheme: light dark;
      --panel-background: var(--base00) !important;
      --panel-color: var(--base05) !important;
      --panel-border-radius: 8px !important;
      --panel-border-color: var(--base02) !important;
      --panel-shadow: 0 0 var(--base02) hsla(0, 0%, 0%, 0.2);
    }

    menuitem:hover {
      background-color: var(--accent) !important;
      color: var(--base00) !important;
    }

    menu:where([_moz-menuactive="true"]:not([disabled="true"])),
    menuitem:where([_moz-menuactive="true"]:not([disabled="true"])) {
      background-color: var(--accent) !important;
      color: var(--base00) !important;
    }
  }
}
