@import "../colors.css";
@media {
  #nav-bar,
  #PersonalToolbar {
    background-color: var(--mantle) !important;
  }
  :root {
    .tabbrowser-tab[selected="true"] .tab-background {
      border: 1px solid var(--surface0) !important;
    }
    --toolbar-bgcolor: var(--mantle) !important;
    --toolbox-non-lwt-bgcolor: var(--crust) !important;
    --toolbox-non-lwt-textcolor: var(--text) !important;
    --input-bgcolor: var(--crust) !important;
    --toolbar-field-background-color: var(--input-bgcolor) !important;
    --input-color: var(--text) !important;
    --toolbar-field-color: var(--input-color) !important;
    .tab-background[selected]:not([multiselected]) {
      outline: 1px solid var(--surface0);
      outline-offset: -1px;
    }
    .tab-background[multiselected] {
      --focus-outline-color: var(--surface0);
    }
    --arrowpanel-background: var(--surface0) !important;
    --arrowpanel-color: var(--text) !important;
    --toolbarbutton-active-background: var(--overlay0) !important;
    &:where([tabsintitlebar]) {
      --toolbox-non-lwt-bgcolor-inactive: var(--crust) !important;
    }
    --toolbarbutton-icon-fill-attention: var(--text) !important;
    --toolbarbutton-icon-fill: var(--text) !important;
    --arrowpanel-border-color: var(--surface0) !important;
    --urlbarView-highlight-color: var(--text) !important;
    --urlbarView-highlight-background: var(--overlay0) !important;
    #tabbrowser-tabs {
      --tab-loading-fill: var(--text) !important;
    }
    --tab-selected-bgcolor: var(--base) !important;
    --tab-selected-textcolor: var(--text) !important;
    --chrome-content-separator-color: var(--surface0) !important;
    --toolbar-field-focus-border-color: var(--surface0) !important;
    --input-border-color: var(--mantle) !important;
    --toolbar-field-border-color: var(--input-border-color) !important;
    --toolbar-field-focus-background-color: var(--base) !important;
    #urlbar-input:focus::selection,
    .searchbar-textbox:focus::selection {
      color: var(--surface0);
    }
    #urlbar-input:focus::selection,
    .searchbar-textbox:focus::selection {
      background-color: var(--text);
    }
    --toolbarseparator-color: var(--text) !important;
  }
}
